* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #1f1f1f;
  color: #f5f5f5;
}

/* HERO */
.menu-hero {
  padding: 2.5rem 1.5rem;
  text-align: center;
  background: #2a2724;
}

.menu-hero h1 {
  font-size: 2rem;
}

.menu-hero p {
  margin-top: 0.4rem;
  color: #d6b36a;
}

/* SECTIONS */
.menu-section {
  padding: 2rem 1.5rem;
}

.menu-section h2 {
  margin-bottom: 1.2rem;
  color: #d6b36a;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* GRID */
.top,
.bottom {
    width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* CARD */
.menu-card {
    width: 25%;
  background: #2b2b2b89;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.menu-card:hover {
  transform: translateY(-4px);
}

/* IMAGE */
.menu-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* INFO */
.menu-info {
  padding: 0.8rem;
}

.menu-info h3 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.menu-info p {
  font-size: 0.75rem;
  color: #bbb;
  margin-bottom: 0.5rem;
}

.menu-info span {
  color: #d6b36a;
  font-weight: 600;
}

/* FOOTER */
.menu-footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 0.8rem;
  color: #aaa;
}
