*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: rgb(42, 40, 40);
}

html{
    //font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #C6A45E //rgb(243, 227, 197);
}

@mixin flex-column($gap:0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin imgStyle{
        border: 0.2rem solid #C6A45E;
        width: 100%;
        border-radius: 15px;

        img{
        width: 100%;
        border-radius: 15px;
    }
}

@mixin sectionBottomStyle{
    
        border: 0.2rem solid #C6A45E;
        background-color: rgb(59, 59, 59);
        border-radius: 1rem;
        @include flex-column(1rem);
        padding: 1.2rem;
        
        p{
           font-size: 1.3rem;
           font-weight: 50;
           text-transform: uppercase;
           color: #cfc7bb;
           letter-spacing: 0.15em;
        }
 
        .text{
            @include flex-column(0.7rem);
            
            h1{
                text-transform: uppercase;
                font-family: 'DM Serif Display', serif;
                letter-spacing: 0.06em;
                font-weight: 100;
                font-size: 2rem;
            }
            p{
                font-family: "Lora", serif;
                font-weight: 100;
                opacity: 0.6;
                line-height: 1.4;
                font-size: 1.4rem;
                text-transform: lowercase;
                color: #cfc7bb;
                letter-spacing: 0.028em;
            }
            button{
                color: #C6A45E;
                background-color: #6F4E37;
                width: fit-content;
                outline: none;
                padding: 0.7rem 1rem;
                border-radius: 0.5rem;
                //padding: 10px 16px;
                border: 1.5px solid #c6a45e;

            }
    }

}

@mixin cardStyles($img:url(founder.avif)){
            width: 100%;
            background-image: $img;
            background-size: cover;
            aspect-ratio: 1/1;
            border-radius: 1rem;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom{
                background-color: rgb(71 69 69 / 39%);
                backdrop-filter: blur(7px);
                border: 0.1px solid #C6A45E;
                border-radius: 0.7rem;
                padding: 0.7rem;
            }

            .top{
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                justify-content: flex-end ;
            }
            .icon{
                border-radius: 50%;
            }
            .bottom{
                display: flex;
                flex-direction: row;
                gap: 5rem;
                justify-content: space-around ;
                font-size: 1.2rem;
                padding: 0.6rem 1.1rem;
            }
}

main{
    width: 100%;
    @include flex-column(0rem);

    section.view1{
        @include flex-column(1rem);
        padding: 1rem;
    
    
    .top{
        aspect-ratio: 4/3;   
        overflow: hidden;
        @include imgStyle();
    }
    
    .bottom{
        @include sectionBottomStyle();
}
}  
    section.view2{
        width: 100%;
        @include flex-column(1rem);

        .top,
        .bottom{
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element{
                @include flex-column(0.1rem);
                text-align: center;

                h2{
                    font-size: 2.5rem;
                    font-weight: 300;
                }
            }
        }
    }

    section.view3{
            width: 100%;
            padding: 1rem;
            @include flex-column(1rem);

            .top{
                 aspect-ratio: 1 / 1;   
                 overflow: hidden;
                @include imgStyle();
            }
             .bottom{
                @include sectionBottomStyle();
             }
    }
    section.view4{
            width: 100%;
            padding: 1rem;
            @include flex-column(1rem);

            .top{
                 aspect-ratio: 1 / 1;   
                 overflow: hidden;
                @include imgStyle();
            }
             .bottom{
                @include sectionBottomStyle();
             }
    }
    section.OurTeam{
         
         width: 100%;
         h2{
            padding: 0.8rem 1.5rem;
         }
    }
    section.view5{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: #ac8e43;
        width: 100%;
        padding: 1rem;
        border-radius: 0.7rem;
        .card1{
            @include cardStyles(url(founder.avif));
        }
         .card2{
            @include cardStyles(url(marketing.avif));
        }
         .card3{
            @include cardStyles(url(manager.avif));
        
        }
    }
}

section{
    max-width: 1800px;
}

@mixin sameCss($direction,$btmpd,$bp,$txtp,$h1,$fw,$ltrSpace){
            
            flex-direction: $direction;
            padding: 1rem 1rem;
            .top,
            .bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: $btmpd;
                
                p{
                    font-size:$bp;
                    font-weight: 60;
                    letter-spacing: 0.18em;
                }
                .text{
                    
                    P{
                    font-size: $txtp;
                    }
                    h1{
                        font-size:$h1;
                    }
                }
            }
}

@mixin view2layout{
     flex-direction: row;
     padding: 1rem 1rem;
     .element{
                h2{
                    font-size: 3.5rem;
                }
            }
}

@media (min-width:900px){
      main{

        section.view1{

            @include sameCss(row,3rem,1.2rem,1.2rem,1.7rem,0,0em);

             .top{
                  aspect-ratio: 1 / 1;   /* try 1/1, 3/4, 16/9 based on design */
                  overflow: hidden;
              img {
                height: 100%;
                object-fit: cover;
            }
        }
        }
        section.view2{
            @include view2layout();
        }
        section.view3{

            @include sameCss(row-reverse,3rem,1.2rem,1.2rem,1.7rem,0,0em);

            .top{
                  aspect-ratio: 1 / 1;   
                  overflow: hidden;
              img {
                height: 100%;
                object-fit: cover;
              }
           }
            .bottom{
                .text{
                    .paras{
                        gap: 1rem;
                        display: flex;
                        flex-direction: row;
                        font-size: 0.3rem;
                        opacity: 0.7;
                    }
                    
                }
            }
        }
         section.view4{

            @include sameCss(row,3rem,1.2rem,1.2rem,1.7rem,0,0em);

            .top{
                  aspect-ratio: 1 / 1;   
                  overflow: hidden;
              img {
                height: 100%;
                object-fit: cover;
              }
           }
            .bottom{
                .text{
                    .paras{
                        gap: 1rem;
                        display: flex;
                        flex-direction: row;
                        font-size: 0.3rem;
                        opacity: 0.7;
                    }
                    
                }
            }
        }
         section.OurTeam{
         align-self: center;
         width: 100%;
            h2{
                padding: 0.8rem 1.5rem;
                font-size: 3rem;
            }
        }
        section.view5{
            padding: 1rem 1rem;
            align-self: center;
            flex-direction: row;
             .card1,
            .card2,
            .card3{
            .top{
                .icon{
                    font-size: 1rem;
                    padding: 0.8rem;
                }
            }
            .bottom{
                p{
                   font-size: 1rem;
                }
               
            }
        }
        }
        
      }
}

@media (min-width:1400px){
      main{

        section.view1{
            align-self: center;
            @include sameCss(row,2rem,1.6rem,1.6rem,2.5rem,60,0.18em);

            .bottom{
                .text{
                    button{
                        padding: 1rem 1.3rem;
                        border-radius: 0.8rem;
                        border: 1.8px solid #c6a45e;
                    }
                }
            }
        }
        section.view2{
            align-self: center;
            @include view2layout();

        }
        section.view3{
            align-self: center;
            @include sameCss(row-reverse,2rem,1.6rem,1.6rem,2.5rem,60,0.18em);

            .top{
                  aspect-ratio: 1 / 1;   
                  overflow: hidden;
              img {
                height: 100%;
                object-fit: cover;
              }
           }
            .bottom{
                .text{
                    .paras{
                        gap: 1rem;
                        display: flex;
                        flex-direction: row;
                        font-size: 0.3rem;
                        opacity: 0.7;
                    }
                    
                }
            }
        }

         section.view4{
            align-self: center;
            @include sameCss(row,2rem,1.6rem,1.6rem,2.5rem,60,0.18em);

            .top{
                  aspect-ratio: 1 / 1;   
                  overflow: hidden;
              img {
                height: 100%;
                object-fit: cover;
              }
           }
            .bottom{
                .text{
                    .paras{
                        gap: 1rem;
                        display: flex;
                        flex-direction: row;
                        font-size: 0.3rem;
                        opacity: 0.7;
                    }
                    
                }
            }
        }
        section.OurTeam{
         align-self: center;
         width: 100%;
            h2{
                padding: 0.8rem 1.5rem;
                font-size: 3rem;
            }
        }
        section.view5{
            padding: 1rem 1rem;
            align-self: center;
            flex-direction: row;
            .card1,
            .card2,
            .card3{
            .top{
                .icon{
                    font-size: 1.5rem;
                    padding: 1rem;
                }
            }
            .bottom{
                p{
                   font-size: 2rem;
                }
               
            }
        }
        
        }
      }
}
